
@{
    ViewData["Title"] = "ThankYou";
}

<div class="alert alert-success" role="alert">
    Uw bericht is succesvol verstuurt.
</div>

<h5>Klik <a class="text-decoration-none" href="/contact">hier</a> om terug te gaan.</h5>

